@charset "UTF-8"; /*reset css*/
* { font-family: Pretendard, "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum, AppleGothic, Sans-serif, Arial; word-break: keep-all; } 
body { margin: 0 !important; } 

html,body,div,p,span,strong,b,em,iframe,pre,
h1,h2,h3,h4,h5,h6,img,dl,dt,dd,
fieldset,form,legend,label,table,caption,thead,tbody,tfoot,
tr,th,td,ul,ol,li,a,input,select,textarea,
figure { margin: 0; padding: 0; border: 0 none; } 

input { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 

body { font-family: Pretendard, "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum, AppleGothic, Sans-serif, Arial; } 

strong { font-weight: 500; } 

ul,ol,li { list-style: none; } 
em,address { font-style: normal; } 
img { border: 0 none; font-size: 0; line-height: 0; } 
sup { position: relative; top: 2px; font-size: 8px; line-height: 100%; } 

/*테이블 만들 때 캡션 잊어버리지 말기..*/
table { border-collapse: collapse; border-spacing: 0; } 
caption { overflow: hidden; width: 0; height: 0; font-size: 0; line-height: 0; } 
th,td { vertical-align: middle; /* white-space: nowrap */ } 

a { color: #333; text-decoration: none; line-height: 1; } 
a:hover,a:focus,a:active { text-decoration: underline; } 
a:visited { color: #333; } 
*,
html { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 
*,
*:before,
*:after { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; } 

button { border: none; appearance: none; -webkit-appearance: none; -moz-appearance: none; font-family: "Pretendard", MalgunGothic, "맑은 고딕", "돋움", Dotum, AppleGothic, Sans-serif, Arial; cursor: pointer; margin: 0; } 

select { -o-appearance: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; } 


@font-face { font-family: 'WAGURITTF'; src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'ONE Mobile Title'; src: url('https://cdn.jsdelivr.net/gh/wooin21/web/fonts/onestore/ONE Mobile Title.woff') format('woff2'); font-weight: normal; font-style: normal; } 
@font-face { font-family: 'D2Coding'; src: url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/d2coding.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/d2coding.ttf') format('truetype'); font-weight: normal; font-style: normal; } 

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; clip: rect(0, 0, 0, 0); overflow: hidden; } 

/*** 인트로 ***/
.intro_wrap { width: 1600px; height: 900px; margin: 0 auto; padding-top: 50px; } 
.game_01 { postion: relative; background: url('../img/bg_01.png') no-repeat; background-size: contain; z-index: 1; } 

.game_01 h1 { width: 725px; height: 147px; background: url('../img/title_01.png') no-repeat; background-size: contain; margin: 0 auto; text-indent: -9999px; font-size: 0; } 
.game_01 h2 { width:784px; height: 120px; background: url('../img/title_sub_01.png') no-repeat; background-size: contain; margin: 0 auto; text-indent: -9999px; font-size: 0; } 

.visual_01 { width: 700px; height: 450px; margin: -50px auto 0; } 
.visual_01 img { width: 100%; height: auto; } 

.btn_wrap { display: flex; flex-direction: row; gap: 30px; justify-content: center; padding-top: 20px; } 
.btn_start { width: 352px; height:130px; background: url('../img/btn_start.png') no-repeat; background-size: contain; text-indent: -9999px; font-size: 0; } 
.btn_ex { width: 352px; height:130px; background: url('../img/btn_ex.png') no-repeat; background-size: contain; text-indent: -9999px; font-size: 0; } 


/*** 게임 설명 ***/
.ex_wrap { position: absolute; width: 1600px; top: 0px; left: 0px; height: 900px; margin: 0 auto; padding-top: 50px; background-color: #fff3c4; z-index: 2; } 
.ex_title { width: 395px; height: 106px; background: url('../img/ex_title.png') no-repeat; background-size: contain; margin: 0 auto; text-indent: -9999px; font-size: 0; } 
.btn_close { position: absolute; right: 25px; top: 20px; width: 60px; height: 60px; background: url('../img/btn_close.png') no-repeat; background-size: contain; text-indent: -9999px; font-size: 0; } 

.game_process { padding: 0 130px; } 
.game_process h3 { width: fit-content; font-family: 'ONE Mobile Title'; font-size: 40px; color: #2e2a25; font-weight: normal; background-color: #ffd675; padding: 20px 27px 15px; border-top-left-radius: 20px; border-top-right-radius: 20px; margin-left: 40px; } 
.game_txt { font-family: 'ONE Mobile Title'; font-size: 30px; color: #402925; background-color: #fff; border-radius: 30px; padding: 40px 80px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); line-height: 48px; margin-bottom: 30px; } 
.game_txt li { margin-bottom: 10px; font-family: 'ONE Mobile Title'; font-size: 30px; color: #402925; } 


/*** 게임 시작 ***/
.game_wrap { width: 1600px; height: 900px; margin: 0 auto; padding: 30px 65px; background-color: #fff3c4; } 
.qs_list { display: flex; flex-direction: row; gap: 15px;}
.qs_list li { font-family: 'ONE Mobile Title'; width: 40px; height: 40px; border-radius: 50%; background-color: #fdd35c; color: #793729; font-size: 30px; text-align: center; line-height: 40px; border: 2px solid #b74f2c; } 
.qs_list li.pass { position: relative; z-index: 1; background-color: #ed6d1f; color: #fff; border: 2px solid #bd522b; text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2); } 
.pass_o { position: absolute; left: -6px; top: -6px; z-index: 2; width: 48px; height: 48px; background: url('../img/pass_o.png') no-repeat; background-size: contain; }
.pass_x { position: absolute; left: -6px; top: -6px; z-index: 2; width: 48px; height: 48px; background: url('../img/pass_x.png') no-repeat; background-size: contain; }

.qs_main { display: flex; flex-direction: row; justify-content: space-between; padding-top: 35px; }
.qs_box { position: relative; width: 935px; height: 710px; background-color: #fff; border: solid 1px #d3d4d6; border-radius: 30px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); padding: 35px 48px; }
.qs_title { font-size: 30px; padding: 10px 20px; background: #f6f8ea; border-radius: 30px; color: #000; box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); text-align: center; font-weight: 500; margin-bottom: 40px;}
.qs_txt { position: relative; display: flex; flex-direction: row; gap: 30px; font-size: 30px;}
.qs_txt p { width: 700px; display: flex; flex-direction: row; gap: 30px; font-size: 40px; font-weight: 500; line-height: 60px; }
.qs_num { width: 90px; height: 90px; text-align: center; line-height: 90px; background-color: #e5e5e5; color: #000; font-family: 'WAGURITTF'; font-size: 50px; border-radius: 20px;}
.check_o { position: absolute; left:-47px; top: -25px; z-index: 2; width: 180px; height: 149px; background: url('../img/check_o.png') no-repeat; background-size: contain; text-indent: -9999px; font-size: 0;}
.check_x { position: absolute; left:-47px; top: -25px; z-index: 2; width: 180px; height: 149px; background: url('../img/check_x.png') no-repeat; background-size: contain; text-indent: -9999px; font-size: 0;}

.font_red { color: #a22d2d; font-weight: bold;}

.check_wrap { position: absolute; left: 27%; bottom: 60px; display: flex; flex-direction: row; gap: 30px; justify-content: center; padding-top: 10px; } 
.btn_check { position: relative;}
.btn_bg { width: 205px; height: 205px; background: url(../img/btn_bg.png) no-repeat; background-size: contain; text-align: center; font-size: 40px; font-weight: 500;}
.btn_bg_x { width: 205px; height: 205px; background: url(../img/btn_bg_x.png) no-repeat; background-size: contain; text-align: center; font-size: 40px; font-weight: 500;}
.btn_o { width: 205px; height: 205px; background: url(../img/btn_o.png) no-repeat; background-size: contain; text-indent: -9999px; font-size: 0; }
.btn_x { width: 205px; height: 205px; background: url(../img/btn_x.png) no-repeat; background-size: contain; text-indent: -9999px; font-size: 0; }

.item_list { display: flex; flex-direction: row; flex-wrap: wrap; width: 460px; gap: 10px; }
.item_list li { width: 205px; height: 186px; background: url('../img/item_bg.png') no-repeat; background-size: contain; margin-left: 20px; }

.item { width: 195px; position: relative; }
.item img { width: 100%; height: auto; }
.item dt { position: absolute; left: 10px; bottom: -125px; }
.item dd { position: absolute; top: 148px; width: 100%; font-family: 'ONE Mobile Title'; font-size: 24px; text-align: center; }

.btn_cook { width: 352px; height: 112px; background: url('../img/btn_cook.png') no-repeat; background-size: contain; text-indent: -9999px; font-size: 0; }

/*** 요리만들기 ***/
.cook_box { display: flex; align-items: center; width: 935px; height: 710px; background-color: #ffea6e; border: solid 1px #dd9642; border-radius: 30px; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); padding: 35px 48px; }
.cook_01 img { width: 850px; height: auto; margin: 0 auto; position: absolute; z-index: 1;}


/*** 팝업 ***/
.pop_01 { width: 600px; height: 482px; background: url(../img/pop_bg_01.png) no-repeat; background-size: contain; }
.pop_02 { width: 600px; height: 482px; background: url(../img/pop_bg_02.png) no-repeat; background-size: contain; }
.pop_03 { width: 600px; height: 482px; background: url(../img/pop_bg_03.png) no-repeat; background-size: contain; }
.pop_txt { font-family: 'WAGURITTF'; font-size: 45px; text-align: center; padding: 200px 0 60px; }
.pop_01 .pop_txt { color: #e96e00; }
.pop_02 .pop_txt { color: #ea5353; }
.pop_03 .pop_txt { color: #1f4394; }
.btn_close_pop { width: 170px; height: 91px; background: url('../img/btn_close_pop.png') no-repeat; background-size: contain; text-indent: -9999px; font-size: 0; }